{% extends 'main/base.html' %}
{% load static %}

<!-- title -->
{% block title %}Create vacancy{% endblock %}


<!-- header -->
{% block header %}
<div class="container mt-manual-10 bg-black">
    <h1>Create vacancy</h1>
    <hr class="devider">
</div>
{% endblock %}


<!-- main -->
{% block main %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}<br>
        <div class="image-drop mt-5 mb-5">
            {{ form.image }}<br>
        </div>
        <div class="row g-3">
            {{ form.title}}<br>
            {{ form.minimum_salary}}<br>
            {{ form.maximum_salary}}<br>
            {{ form.currency}}<br>
            {{ form.country}}<br>
            {{ form.city}}<br>
            {{ form.owner}}<br>
            {{ form.description}}<br>
            {{ form.requirements}}<br>
        <div>
        <button class="btn btn-light mt-5" type="submit">Publish</button>
    </form>
</div>
{% endblock %}