{% extends 'main/base.html' %}
{% load static %}

<!-- title -->
{% block title %}Vacancies{% endblock %}
<!-- header -->
{% block header %}
<header class="masthead" style="background-image: url('{% static 'main/images/banner.png' %}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white">Find job form everywhere</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}
<!-- main -->
{% block main %}
<!-- cardholeder -->
<div class="container bg-black">
  <h1 class="text-white">Vacancies</h1>
  <hr class="devider">
  <!-- devider -->
  <div style="width: 100%; height: 50px;"></div>
  <!-- form -->
  <div class="form-group">
    <input class="form-control border-0" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Find job">
  </div>
  <!-- devider -->
  <div style="width: 100%; height: 50px;"></div>
  
  <div class="album py-5 bg-black">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card bg-black">
          <img src="{% static 'images\banner.jpg' %}" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
            <small class="text-muted">2 days ago • 231 views</small>
            <h6>BARISTA</h6>
            <h6>100000-300000₸<h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-black">
          <img src="{% static 'images\banner.jpg' %}" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
            <small class="text-muted">2 days ago</small>
            <h6>BARISTA</h6>
            <h6>100000-300000₸<h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-black">
          <img src="{% static 'images\banner.jpg' %}" class="card-img-top rounded-0" alt="...">
          <div class="card-body">
            <small class="text-muted">2 days ago</small>
            <h6>BARISTA</h6>
            <h6>100000-300000₸<h6>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>	
{% endblock %}
