{% extends 'main/base.html' %}
{% load static %}

<!-- title -->
{% block title %}{{ vacancy.title }}{% endblock %}
<!-- header -->
{% block header %}
<div class="container mt-manual-10 bg-black">
  <h1 class="text-white">Vacancy</h1>
  <hr class="devider">
</div>
{% endblock %}
<!-- main -->
{% block main %}
<div class="container">
    <!-- carousel -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ vacancy.image.url }}" class="d-block w-100" alt="...">
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- title -->
      <h1 class="mt-5">{{ vacancy.title }}</h1>
                <h4>
                    {% if vacancy.minimum_salary %}
                      from
                    {% endif %}
                    {{ vacancy.minimum_salary }}

                    {% if vacancy.maximum_salary %}
                      to
                    {% endif %}
                    {{ vacancy.maximum_salary }}
                    {{ vacancy.currency }}
                </h4>
                <h5 class="mt-1 text-muted">{{ vacancy.country }}, {{ vacancy.city }}</h5>
                <h6 class="mt-5">Desciption</h6>
                <p>{{ vacancy.description }}</p>
                <h6>Requirements</h6>
                <p>{{ vacancy.requirements }}</p>

                <p class="mt-manual-10">{{ vacancy.publication_time }}</p>
</div>
{% endblock %}