@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* body */
body{
    background-color: black;
    font-family: Inter;
}
/* navbar */
nav{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(80px);
}
/* containers */
.container-eng{
    max-width: 650px;
}
/* text */
h1, h2, h3, h4, h5 ,h6{
    color: #fff;
}
p{
    color: #bcbcc0;
}
.text-muted{
    color: #474747 !important;
}
/* burger animation */
.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}


.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}


.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .toggler-icon {
    background: #fff;
}
/* banner */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
/* links and buttons */
a{
    color: #ebebf0;
}
.element-link{
    text-decoration: none;
}

a:hover{
    color: #fff;
}
.nav-link{
    color: #fff;
}
.nav-link:hover{
    color: #bfbfbf;
}
.footer-link{
    color: #fff;
    text-decoration: none;
}
.footer-link:hover{
    color: #bfbfbb;
}
/* margins and deviders*/
.mt-manual-10{
    margin-top: 100px;
}
.mt-manual-50{
    margin-top: 500px;
}
.devider{
    color: #fff;
}
/* аvatar */
.avatar{
    width: 15%;
    height: 15%;
}
/* input */
.form-control:focus {
    box-shadow: none!important;
    border-color: #000!important;
}

input{
    background-color: #2c2c2e !important;
    border: 0px !important;
    color: #fff !important;

}textarea{
    background-color: #2c2c2e !important;
    border: 0px !important;
    color: #fff !important;
}

/* card */
.card-body{
    padding-left: 0px;
}
/* pagination */
.pagination > li > a
{   
    border: 0px;
    background-color: #000;
    color: #474747;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #fff;
    background-color: #000;
    box-shadow: none!important;
    border-color: #000!important;
}