{% extends 'main/base.html' %}
{% load static %}

<!-- title -->
{% block title %}About us{% endblock %}
<!-- header -->
{% block header %}
<header class="masthead b-5" style="background-image: url('{% static 'main/images/about_banner.png' %}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white">Let's talk about Side Job Network</h1>
        <p>Side Job Network was originally created as a project for a university. This service allows you to find a side job anywhere, anytime.</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}
<!-- main -->
{% block main %}

{% endblock %}
