{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'main/images/New_logos/black_logo_mini.svg' %}" type="image">
  <!-- icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'main/css/style.css'%}">
</head>
<body>
	    <!-- Navbar  -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 bg-black">
      <div class="container">
        <!-- logo -->
        <a class="navbar-brand" href="/">
        	<img src="{% static 'main/images/New_logos/tr_white_logo.svg' %}" alt="" height="45">
        </a>
        <!-- burger -->
        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
        </button>
        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto"></div>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/about-us">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/vacancies/">Find job</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/support">Support</a>
              </li>
              <li class="nav-item text-start">
                <a class="nav-link" href="/account/sign-in">
                  Login
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- header -->
        {% block header %}{% endblock %}
      <!-- main part -->
        {% block main %}{% endblock %}
      <!--Footer -->
      <div class="container bg-black">
      <footer class="py-5">
        <div class="row">
        <!-- Column 2 -->
        <div class="col-6 col-lg-2 mb-3">
          <h5>About</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/about-us" class="footer-link p-0">About</a></li>
            <li class="nav-item mb-2"><a href="/newsroom" class="footer-link p-0">Newsroom</a></li>
          </ul>
          
        </div>
        <!-- Column 3 -->
        <div class="col-6 col-lg-2 mb-3">
          <h5>Account</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/account/my-profile" class="footer-link p-0">My profile</a></li>
          </ul>
          
        </div>
        <div class="col-4 offset-1">
        </div>
      </div>
      <hr class="devider">
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
        <div class="col mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
            <img src="{% static 'main/images/New_logos/tr_white_logo_mini.svg' %}" alt="" height="45">
          </a>
          <p class="text-muted">© 2022 Zinker Software Inc. All rights reserved</p>
        </div>
        <ul class="list-unstyled d-flex">
          <li class="ms-3">
            <a href="#">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li class="ms-3">
            <a href="#">
              <i class="bi bi-github"></i>
            </a>
          </li>
          <li class="ms-3">
            <a href="#">
              <i class="bi bi-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
      </footer>
    </div>
      <!-- JavaScript Bundle with Popper -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
  </html>