{% extends 'main/base.html' %}
{% load static %}
{% load humanize %}

<!-- title -->
{% block title %}Side Job Network{% endblock %}
<!-- header -->
{% block header %}
<header class="masthead b-5" style="background-image: url('{% static 'main/images/banner.png' %}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-start">
        <h1 class="text-white">Become a sponsor of our project</h1>
        <a href="/sponsorship">
          <button type="button" class="btn btn-outline-light">Learn more</button>
        </a>
      </div>
    </div>
  </div>
</header>
{% endblock %}
<!-- main -->
{% block main %}
<div class="container mt-5">
  <h1>Recent vacancies<h1>
  <hr class="devider">

</div>

{% endblock %}