{% extends 'main/base.html' %}
{% load static %}

<!-- title -->
{% block title %}Side Job Network{% endblock %}
<!-- header -->
{% block header %}
<header class="masthead b-5" style="background-image: url('{% static 'main/images/banner.png' %}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-start">
        <h1 class="text-white">Become a sponsor of our project</h1>
        <a href="/sponsorship">
          <button type="button" class="btn btn-outline-light">Learn more</button>
        </a>
      </div>
    </div>
  </div>
</header>
{% endblock %}
<!-- main -->
{% block main %}
<header class="masthead" style="background-image: url('{% static 'main/images/app_banner.png' %}')">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="text-white">Coming coon</h1>
      </div>
    </div>
  </div>
</header>
{% endblock %}